@media (max-width: 61.25em)
html {
    font-size: 58%;
}
/* Global styles------------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  display: block;

}

section {
  display: block;
}
*, *::before, *::after {
  box-sizing: inherit;
}
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}
*, *::before, *::after {
  box-sizing: inherit;
}
/*-- START NAV SECTION --*/

nav {
  font-size: 10%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  z-index: 10;
}
.nav-list {
  display: flex;
  margin-right: 1rem;
}
.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 0rem 2rem ;
}
a {
  text-decoration: none;
  color: var(--main-white);
}
ul {
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li {
  display: list-item;
}

/*-- START WELCOME SECTION --*/

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(
62deg
, #3a3d40 0%, #181719 100%);

}

h1, h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}
.welcome-section > p {
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  font-style: italic;
  color: var(--main-red);
  margin: 0% 10%;
}
/*-- START PROJECTS SECTION --*/
@keyframes project {
  0%   {background-color:#163b61;}
  25%  {background-color:#163b61d3;}
  50%  {background-color:#163b61a6;}
  75%  {background-color:#163b6157;}
  100% {background-color:#163b615b;}
}
.projects {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-gray);
  background-image: linear-gradient(
62deg
, #3a3d40 0%, #181719 100%);
  
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}
h2 {
  display: block;
  font-size: 2.5rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  text-align: justify;
}
h3{
  text-align: center;
}
iframe {
  display: block;
  width: 100%;
}
.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2px;
  padding: 5%;
  border-radius: 3%;
}
 .project:hover{
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
/*-- START education SECTION --
#education { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(
62deg
, #163b61 0%, #181719 100%);
*/

/*-- START CONTACT SECTION --*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 0rem;
  background: var(--main-gray);
}
.contact-links :hover{
  background-color: var(--main-gray);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.contact-section-header > h2 {
  font-size: 6rem;
}
.contact-section-header > p {
  font-style: italic;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}
.ctc {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}
.fab {
  font-family: "Font Awesome 5 Brands";
}

/*-- START FOOTER SECTION --*/
@keyframes example {
  0%   {background-color:rgba(233, 23, 23, 0.301)a(255, 0, 0, 0.459); left:0px; top:0px;}
  25%  {background-color:rgba(126, 17, 7, 0.329); left:200px; top:0px;}
  50%  {background-color:rgba(195, 15, 15, 0.336); left:200px; top:200px;}
  75%  {background-color:rgba(0, 0, 0, 0.199); left:0px; top:200px;}
  100% {background-color:rgba(20, 24, 29, 0.199); left:0px; top:0px;}
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
  

}
footer:hover{
  background-color: var(--main-gray);
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

/*-----_-----------*/
@import url('https://fonts.googleapis.com/css?family=Corben:700');



.hero {
	background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
	 min-height: 100vh;
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	
	
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}
.snow :hover{
  background-color: var(--main-gray);
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}